<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Car application</h1>
    </header>
    <main id="main-grid">
        
        <section id="search-section">
            <label for="search">Find car:</label>
            <input type="text" placeholder="name, model..." id="search" v-model="search">
            <ul>
                <li class="pointer" v-for="(car, index) in filteredCars" v-on:click="selectCar(car,index)"  v-bind:class="{active: selectedCarIndex===index}"
                >{{ car.name }} - {{ car.model }}</li>
            </ul>
        </section>
        <article id="car-photo-area">
            <div><h2>{{ car.name }}</h2></div>
            <div><img v-bind:src="car.image" width="420"  v-bind:alt="car.name" id="photo"></div>
        </article>
        <aside id="car-details">
            <h3>Car details</h3>
            <ul>
                <li>Owner: <b>{{ car.owner }}</b></li>
                <li>Model: <b>{{ car.model }}</b></li>
                <li>Year: <b>{{ car.year }}</b></li>
            </ul>
            <div id="phone-section">
                <p v-if="phoneVisibility">{{ car.phone }}</p>
            </div>
            <button class="btn" id="show-phone" v-on:click="phoneVisibility=!phoneVisibility">{{ phoneBtnText }}</button>
            <button class="btn" id="buy">Buy</button>
        </aside>
        
    </main>
    <footer></footer>
    <script src="main.js"></script>
</body>
</html>