body{
    margin:0;
    padding:6em;
    font-size:16px;
    font-family: 'Titillium Web', sans-serif;
}
main{
    padding:0;
    margin:0;
    border:1px solid;
    display:grid;
    grid-template-areas:"search car-photo-area car-details";
}
#search-section{
    padding:1em;
    grid-area:search;
    border:1px solid green;
}
#search{
    width:100%;
    height:2em;
    font-size:1em;
    border:none;
    border-bottom:1px solid #009FE3;
}
#search:focus{
    box-shadow:1px 1px 5px 1px #009FE3;
}
#search-section ul{
    padding:0;
    border:1px solid green;
    border-radius:1em;
}

#search-section li{
    list-style-type:none;
    padding: 0.5em 0 0.5em 0.5em;
    border-radius:1em;
}
#search-section li:hover{
    background:#009FE3;
}
.pointer{
    cursor:pointer;
}
#car-photo-area{
    padding:1em;
    grid-area:car-photo-area;
    border:1px solid red;
}
#photo{
    max-width:100%;
    height:auto;
}
#car-details{
    padding:1em;
    grid-area:car-details;
    border:1px solid green;
}
.btn{
    padding:0.3em 0.8em 0.3em 0.8em;
    background:none;
    border-radius:0.5em;
    margin:0;
}
#show-phone{
    margin-right:1em;
    border:1px solid green;
}
#show-phone:hover{
    background:green;
    color:white;
}
#buy{
    border:1px solid blue;
}
#buy:hover{
    background:blue;
    color:white;
}
.active{
    background-color: #009FE3;
}
#phone-section{
    height:2em;
    padding:0;
    margin:0;
}
@media (max-width:1280px){
    main{
        grid-template-areas:"search car-photo-area"
                            "car-details car-details";
    }
}
@media (max-width:980px){
    main{
        grid-template-areas:"search car-details"
                            "car-photo-area car-photo-area";
    }
    body{
        
        padding:0;
        
    }
}